<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
    <head>
        <title>KeycloackCommerce</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div layout:fragment="content">

            <table class="table">
                <tr>
                    <th>Id</th><th>Nom</th><th>Prix</th>
                </tr>
                <tr th:each="p:${products}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price}"></td>
                </tr>
            </table>
        </div>


        <a href="/index">Home</a>
</html>
